/**
 * Gabriele Hayashi
 */

body {
	/*margin-top: 60px;*/
}

.muted {
	color: silver;
	font-style: italic;
}

dl dd {
	margin-left: 30px;
}

#panel-about .panel-heading {
	text-align: center;
	font-style: italic;
	font-weight: bolder;
}