<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!-- Here goes the menus -->
				{% for link in site.pages %}
					{% if link.public %}
						<li{% if page.url == link.url %} class="active"{% endif %}>
							<a href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contato <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">Social</li>
						<li>
							<a title="Github" href="https://github.com/{{ site.github_username }}">Github</a>
						</li>
						<li>
							<a title="Twitter" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Pessoal</li>
						<li>
							<script type="text/javascript">messageme('Email');</script>
							<noscript><a href="#">Email</a></noscript>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>