---
layout: base
---

<div class="row">
	<div class="col-md-8">
		<header class="page-header">
			<h2>{{ page.title }}</h2>
			<small>{{ page.date | date_to_long_string }} | {{ site.author }}</small>
		</header>

		{{ content }}
	</div>
	<div class="col-md-4">
		<header class="page-header">
			<h2>Artigos Relacionados</h2>
			<small>Dá uma olhada no site...</small>
		</header>

		{% for related in site.related_posts %}
			<div>{{ related.date | date_to_long_string }} &raquo; <a href="{{ related.url }}">{{ related.title }}</a></div>
		{% endfor %}
	</div>
</div>